/*-- VARIABLES --*/
@import 'scss-altinn/generic/variables'; // Altinn variables
@import 'scss-altinn/generic/bootstrap-custom'; // Bootstrap alpha4 customized variables
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default; // Bootstrap font overriding bootstrap-custom import

$font: 'Altinn-DIN';
$font-light: $font;
$font-weight-light: 'light';
$font-reg: $font;
$font-weight-reg: 'normal';
$font-medium: $font;
$font-weight-medium: 'medium';
$font-bold: $font;
$font-weight-bold: 'bold';
$font-letter-spacing: 0.3px;

$font-url-start: '../fonts/';
$images-base-url: '../Content/extimg/';

/*-- BOOTSTRAP --*/
@import '../../common/css/scss-common/bootstrap';

/*-- THIRD PARTY --*/
@import './../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min';

/*-- COMMON --*/
@import '../../common/css/scss-common/generic/mixins';
@import '../../common/css/scss-common/generic/reset';

@import '../../common/css/scss-common/base/animation';
@import '../../common/css/scss-common/base/font';
@import '../../common/css/scss-common/base/forms';
@import '../../common/css/scss-common/base/global-classes';
@import '../../common/css/scss-common/base/javascript';
@import '../../common/css/scss-common/base/links';
@import '../../common/css/scss-common/base/tables';
@import '../../common/css/scss-common/base/text';

@import '../../common/css/scss-common/objects/buttons';
@import '../../common/css/scss-common/objects/datepicker';
@import '../../common/css/scss-common/objects/card';
@import '../../common/css/scss-common/objects/icons';
@import '../../common/css/scss-common/objects/layout';
@import '../../common/css/scss-common/objects/loader';
@import '../../common/css/scss-common/objects/messaging';
@import '../../common/css/scss-common/objects/tabs';
@import '../../common/css/scss-common/objects/tooltip';
// @import '../../common/css/scss-common/objects/breadcrumb';
@import '../../common/css/scss-common/objects/pagination';
@import '../../common/css/scss-common/objects/lists';
@import '../../common/css/scss-common/objects/modal';
@import '../../common/css/scss-common/objects/collapse';
// @import '../../common/css/scss-common/objects/jumbotron';
// @import '../../common/css/scss-common/objects/article';
// @import '../../common/css/scss-common/objects/blockquote';

/*-- ALTINN SPECIFIC --*/
// @import 'scss-altinn/base/font';
@import 'scss-altinn/base/colors';
@import 'scss-altinn/base/links-external';
@import 'scss-altinn/base/media';

@import 'scss-altinn/objects/blocks';
@import 'scss-altinn/objects/captcha';
// @import 'scss-altinn/objects/chat';
// @import 'scss-altinn/objects/colnav';
@import 'scss-altinn/objects/footer';
@import 'scss-altinn/objects/header';
@import 'scss-altinn/objects/inbox';
@import 'scss-altinn/objects/layout';
@import 'scss-altinn/objects/modal';
@import 'scss-altinn/objects/nav';
// @import 'scss-altinn/objects/newsArchive';
// @import 'scss-altinn/objects/onboarding';
@import 'scss-altinn/objects/print';
// @import 'scss-altinn/objects/progress';
// @import 'scss-altinn/objects/questions-with-compare';
@import 'scss-altinn/objects/searchresults';
@import 'scss-altinn/objects/stickyhelp';
